<h1 class="text-center mt-2 mb-4">Welcome to the Homepage</h1>

<div class="jumbotron">
    <h1 class="display-4 text-center">APLPHA BLOG!</h1>
    <p class="lead text-center somecss">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="text-center mb-5 somecss">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg d-flex justify-content-center fit-content w-25 m-auto somecss" href="#" role="button">Learn more</a>
    </p>
</div>