<div class="jumbotron">
    <div class="d-flex align-items-center justify-content-center">
    <h1 class="display-4 text-center jumbotron1 text-success">Welcome To Our : </h1>
    <h1 class="display-4 jumbotron1 ms-4 text-white">APLPHA BLOG!</h1>
  </div>
    <div class="wrapper jumbotron1">
      <div class="static-txt">Where Users</div>
      <ul class="dynamic-txts">
        <li><span class="text-success">Create</span></li>
        <li><span class="text-primary">Read</span></li>
        <li><span style="color: rgb(255, 0, 179);">Update</span></li>
        <li><span class="text-danger">Delete</span></li>
      </ul>
    </div>
    <p class="lead text-center somecss jumbotron1">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="text-center mb-5 somecss jumbotron1">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <%= link_to "Sign Up" , signup_path, class: "btn btn-primary btn-lg d-flex justify-content-center fit-content w-25 m-auto somecss jumbotron1" %>
    </p>
</div>