<div class="jumbotron2">
  <section>
    <div class="video-background-home">
      <video src="<%= asset_path('Mountains.mp4') %>" autoplay loop muted class="video"></video>
    </div>
    <div class="container homestyle">
      <div class="d-flex align-items-center justify-content-center">
        <h1 class="display-4 text-center jumbotron2 text-success">Welcome To Our:</h1>
        <h1 class="display-4 jumbotron2 ms-4 text-white">ALPHA BLOG!</h1>
      </div>
      <div class="wrapper jumbotron2">
        <div class="static-txt">Where Users</div>
        <ul class="dynamic-txts">
          <li><span class="text-success">Create</span></li>
          <li><span class="text-primary">Read</span></li>
          <li><span style="color: rgb(255, 0, 179);">Update</span></li>
          <li><span class="text-danger">Delete</span></li>
        </ul>
      </div>
      <p class="lead text-center somecss jumbotron2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p class="text-center mb-5 somecss jumbotron2">It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="d-flex justify-content-center gap-4">
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-sm somecss jumbotron2" %>
        <%= link_to "Login in", login_path, class: "btn btn-primary btn-sm somecss jumbotron2" %>
      </p>
    </div>
  </section>
</div>
