.jumbotron {
    padding: 0 !important;
}
.modal-fullscreen{
    width: 100vw !important;
    max-width: 100% !important;
    height: 100vh;
    margin: 0;
}
.jumbotron2{
    animation: fadeup 0.7s ease-in-out;
}
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    25% {
        opacity: 0;
        transform: translateY(20px);
    }
    75% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-check .form-check-input{
    float: left;
    margin-left: 13.5em !important;
  }
  .form-check-input {
    position: absolute !important;
    margin-top: 4px !important;
    margin-left: -1.25rem !important;
}

// .backgroundImageIndex{
//     background-image: asset-url('background.jpg') !important;
//     background-size: cover;
//     background-repeat: no-repeat;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
        padding: 0.2em 0.5em;
        border-radius: 5px;}
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid whitesmoke;
      color: whitesmoke;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: grey;
        background: whitesmoke;
        color: grey; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }